.panel{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 20px;
    width: 80vw;
    height: 10vh;
    background-color: dodgerblue;
    font-size: x-large;
    text-align: center;
}
.result{
    margin: 10px;
    padding: 5px;
    width:80vw;
    height: 10vh;
    text-align: center;
    font-size: 50px;

}
.option-container{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 20vh;
    background-color: gray;

}
.option{
    padding: 20px;
    margin:30px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: tomato;
    border-radius: 50%;
}
.option:hover{
    background-color: red;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}

.commit,.next{
    width:20vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
}
.commit{

    background-color: #50DBB4;
}
.commit:hover{
  background: green;
  color:white;
}
.next{
    color: white;
    background-color: black;
}
.next:hover{
  color:black;
  background-color: cadetblue;
}
